<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632136624516-7nn0qjlp6e3npk30vr0kle0tj2mifoki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632136624516-7nn0qjlp6e3npk30vr0kle0tj2mifoki</string>
	<key>API_KEY</key>
	<string>AIzaSyDke8hCH-tcr3VbpC6VLwnv-V6L3OS0iN0</string>
	<key>GCM_SENDER_ID</key>
	<string>632136624516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>downing-alfie.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d3ac6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d3ac6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632136624516:ios:c84e594bdf53ae8b7095d1</string>
</dict>
</plist>